<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="gratien">
    <title>Vue CRUD product</title>
    <link rel="stylesheet" href="./src/assets/css/app.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
</head>
<body>
    <div id="app">
      <header-component v-bind:open="onOpen"></header-component>
      <welcome-component></welcome-component>
      <view-products :products="products" :view="viewSpecificProduct"></view-products>
      <create-product v-if="isOpen" :close="onClose" v-bind:state="_data" 
      :image="image" :select="onSelectImage" :upload="onUpload" :save="saveProduct"></create-product>
      <view-single-product v-if="onView" :product="product" :close="closeProduct"></view-single-product>
      <footer-component></footer-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./src/components/header/index.js"></script>
    <script src="./src/components/welcome/index.js"></script>
    <script src="./src/components/helpers/validation.js"></script>
    <script src="./src/components/product/view.all.js"></script>
    <script src="./src/components/product/view.product.js"></script>
    <script src="./src/components/product/create.js"></script>
    <script src="./src/components/footer/index.js"></script>
    <script src="./src/components/app.js"></script>
</body>
</html>