@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root{
    --whiteColor: #fff;
    --blackColor: #000;
    --f8: #f8f8f8
}
*{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.app-header{
    position: fixed;
    width: 100%;
    z-index: 400;
    background: var(--whiteColor);
    top: 0;
    padding: 5px;
    /* border-bottom: 1px solid #f8f8f8; */
}
.app-container{
    max-width: 72%;
    margin: auto;
    position: relative;
    justify-content: center;
}
.header-grid{
    position: relative;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
}
.app-header .menu-list{
    font-weight: bold;
    font-size: 13px;
}
.menu-list{
    display: flex;
    width: 100%;
}
.menu-list ul{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list a{
    color: var(--blackColor);
}
.app-header .logo{
    font-size: 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid #f8f8f8;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: var(--blackColor);
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--whiteColor);
    cursor: pointer;
}
.welcome{
    position: relative;
    padding-top: 100px;
    font-weight: bold;
    font-size: 50px;
}
.welcome .welcome-title{
    text-align: center;
    margin: auto;
}
.w-35{
    width: 35%;
}
.display-items{
    position: relative;
    padding-bottom: 50px;
}
.display-items .v-all-products{
    column-width: 300px;
    margin-top: 100px;
    column-gap: 30px;
}
.v-all-products .p-item{
    width: 100%;
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}
.p-item .p-img{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.p-img img{
    width: 100%;
    border-radius: 20px;
}
.p-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000000;
    z-index: 100;
    width: 100%;
    border-radius: 20px;
}
.c-product{
    position: fixed;
    top: 0;
    background: #ffffffa6;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
}
.c-product .product-form{
  width: 50%;
  background: var(--whiteColor);
  border-radius: 40px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0px 0px 40px 0px #928c8c21;
  padding: 30px;
}
.product-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.product-form .c-image{
    position: relative;
}
.c-image .img-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.c-image .upload-input{
    opacity: 0;
    cursor: pointer;
}
.c-image .custom-upload-btn{
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background: #bfbebf05;
    color: var(--blackColor);

}
.upload-icon{
 font-size: 20px;
 position: absolute;
 margin-top: 2px;
}
.custom-upload-btn small, .save-img small{
    margin-left: 20px;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.product-description{
    position: relative;
    padding-top: 30px;
}
.product-description .p-input-item{
    width: 100%;
    margin-bottom: 1.5rem;
}
.p-input-item input, .p-input-item textarea{
    border: none;
    border-bottom: 1px solid 1px solid #f8f8f8cf;
    outline: none;
    box-shadow: none;
    border-radius: 10px;
    margin-top: 0.5rem;
    width: 90%;
}
.p-input-item label{
    font-size: 13px;
}
.p-input-item input{
    height: 45px;
}
.p-input-item textarea{
    height: 70px;
    padding-top: 20px;
}
.p-input-item .submit-btn{
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
    color: var(--whiteColor);
    background: var(--blackColor);
    font-size: 15px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
}
.close-form{
    right: 0;
    position: absolute;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
}
.image-item{
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
}
.error{
    font-size: 12px;
    color: red;
    position: absolute;
    top: 0;
    margin-left: 80px;
    margin-top: 3px;
}
.progress-bar{
    width: 50%;
    height: 10px;
    border-radius: 2px;
    margin: auto;
    position: absolute;
    margin-top: 100px;
    border: 1px solid rgb(0, 0, 0);
}
.progress-bar .loading{
    background: rgb(0, 0, 0);
    height: 100%;
    border-radius: 1px;
}
.btn-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.save-img{
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    background: no-repeat;
    border: 2px solid #000;
    cursor: pointer;
}
.p-price{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    bottom: 0;
    margin-bottom: 10px;
    color: var(--blackColor);
    z-index: 200;
}
.validation-error{
    position: absolute;
    color: red;
}
.not-found{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.not-found .not-found-icon{
    font-size: 40px;
    margin-bottom: 20px;
}
.mt-5{
    margin-top: 1rem;
}
.desc{
    margin-top: 1rem;
}
footer{
    width: 100%;
    position: relative;
}
.footer-menu{
    position: relative;
}
.footer-menu ul{
    display: flex;
}
.footer-menu li{
    padding: 15px;
}
.footer-menu a{
    color: #0d56ff;
    font-size: 40px;
}